<h1>New recipe</h1>
<%= stylesheet_link_tag "recipes_form"%>

<%= form_with model: recipe do |form| %>
  <div id="container">

    <%= form.label :Nome %>
    <%= form.text_field :name %>

    <%= form.label :Avaliação %>
    <%= form.text_field :rating %>

    <%= form.label :Porções %>
    <%= form.text_field :portions %>

    <%= form.label :Ingredientes %>
    <%= form.text_field :ingredients %>

    <%= form.label :Descrição %>
    <%= form.text_field :description %>

    <%= form.label :Instrução %>
    <%= form.text_field :instruction %>

    <%= form.label :Tempo %>
    <%= form.text_field :time %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>